@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  font-family: 'Onest Variable', sans-serif;
  overflow-x: hidden;
}

.bento3{
background: #22282F;
background: linear-gradient(315deg, #22282F, #394353);
}